.toppage {
  .p-fv {

    &__img-layout {
      height: 60vh;
      & img {
        object-position: 0% 28%;
      }
    }

    &__title {
      letter-spacing: .05em;
      top: 50%;
      margin-top: -84px;
      left: 50%;
      margin-left: -117.19px;
    }
  }
}

@include mq(md) {
  .toppage {
    .p-fv {
      &__img-layout {
        height: 80vh;
      }
      
      &__title {
        margin-top: -54px;
        margin-left: -150.665px;
      }
    }
  }
}