.top-page {
  .p-fv {

    &__img-layout {
      height: 60vh;
      & img {
        object-position: 0% 28%;
      }
    }

    &__title {
      letter-spacing: 0.05em;
      margin-top: -66px;
      margin-left: -92.07px;
      top: 50%;
      left: 50%;
    }
  }
}

@include mq(md) {
  .top-page {
    .p-fv {
      &__img-layout {
        height: 48vh;
      }
      
      &__title {
        font-size: 24px;
        margin-top: -36px;
        margin-left: -100.45px;
      }
    }
  }
}