.p-newpost {
  &__img-layout {
    height: 200px;
  }
}

@include mq(md) {
  .p-newpost {
    &__img-layout {
      height: 180px;
      width: 40%;
    }
    &__content {
      width: 60%;
    }
  }
}