.u-img {
  &__cover {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__contain {
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}