.l-header-sp {
  // ハンバーガーライン
  &__lines {
    position: fixed;
    z-index: 10000;
    right: 0;
  }

  &__line {
    background-color: $white;
    height: 48px;
    width: 60px;
    position: absolute;
    right: 0;

    &-element {

      &::before {
        background: #000;
        content: "";
        display: block;
        height: 2px;
        width: 32px;
        position: absolute;
        top: 12px;
        left: 15px;
      }

      &.line2 {
        &::before {
          top: 22px;
        }
      }

      &.line3 {
        &::before {
          top: 32px;
        }
      }

    }

  }

  // ハンバーガーメニュー内側
  &__menus {
    display: none;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    z-index: 9999;
  }

  &__items {
    padding-left: 0;

    & li:first-child a {
      border-top: 1px solid $gray3;
    }

    & li a {
      display: block;
      padding: 16px 0 16px 8px;
      width: 92%;
      margin: 0 auto;
      border-bottom: 1px solid $gray3;
    }

  }

}

@include mq(lg) {

  .l-header-sp {
    display: none;
  }

}