.l-header-sp {
  // ハンバーガーライン
  &__lines {
    position: fixed;
    z-index: 10000;
    right: 0;
  }

  &__line {
    background-color: $white;
    box-shadow: 1px 1px 4px $gray2;
    height: 48px;
    width: 60px;
    transition: all .4s;
    position: absolute;
    right: 0;

    &.active {
      box-shadow: none;
    }

    &-element {

      background: $black;
      display: block;
      height: 2px;
      width: 32px;
      transition: .4s;
      position: absolute;
      top: 12px;
      left: 15px;

      &.line1.active {
        transform: rotate(45deg);
        top: 22px;
      }

      &.line2 {
        top: 22px;

        &.active {
          display: none;
        }

      }

      &.line3 {
        top: 32px;

        &.active {
          transform: rotate(-45deg);
          top: 22px;
        }

      }

    }

  }

  // ハンバーガーメニュー内側
  &__menus {
    display: none;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    z-index: 9999;

    &.active {
      display: block;
    }

  }

  &__items {
    padding-left: 0;

    & li:first-child a {
      border-top: 1px solid $gray3;
    }

    & li a {
      display: block;
      padding: 16px 0 16px 8px;
      width: 92%;
      margin: 0 auto;
      border-bottom: 1px solid $gray3;
    }

  }

}

@include mq(lg) {

  .l-header-sp {
    display: none;
  }

}