.p-taxonomy {

  &__items {
    gap: 40px 0;
  }
  
  &-img {

    &__layout {
      height: 92px;
      width: 100%;

      & img {
        height: 100% !important;
        width: 100% !important;
        object-fit: cover;
      }

    }

  }

}

@include mq(md) {

  .p-taxonomy {

    &__item {
      width: 31%;
    }

  }

}