.p-taxonomy {
  
  &-img {

    &__layout {
      height: 232px;
      width: 100%;

      & img {
        height: 100% !important;
        width: 100% !important;
        object-fit: contain;
      }

    }

  }

}